* {
  font-family: 'Signika', sans-serif;
  background-color: #fbf7f4;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #8f6894;
}

body {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

/* header */

.header {
  min-height: 8rem;
  display: flex;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo img{
  width: 7vw;
  max-width: 69px;
  height: auto;
  margin-right: 1rem;
  margin-bottom: .75rem;
}

.header-nav {
  display: flex;
  margin-left: auto;
}

.header-nav a {
  margin: 10px;
  text-decoration: none;
}

/* footer */

.footer {
  min-height: 4rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  margin: 10px;
}

.copyright {
  margin-top: 25px;
  margin-bottom: 2rem;
  color: #8f8f8f;
  font-weight: 300;
}

/* home page */

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.home-sloganText {
  font-weight: 300;
  /* line-height: 150%; */
  font-size: 4rem;
  margin: 0;
  width: 80vw;
  height: 20vh;
  margin-top: 10vh;
  margin-bottom: 35vh;
}

.home-sloganText::after {
  content: '|';
  animation: sloganCursor 2s infinite step-start;
}

@keyframes sloganCursor {
  50% {
    opacity: 0;
  }
}

.home-vidRow {
  margin-bottom: 1rem;
}

.home-vidThumbnail {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* about page */

.about-crew {
  display: flex;
  border: 1px solid red;
}

.about-col {
 display: flex;
}

.about-studioBio {
  margin: 20px;
  font-size: 1.2rem;
}

.profile-card {
  border: 1px solid black;
}

.about-headshot {
  width: 50%;
  height: 50vh;
  object-fit: cover;
  padding: 0 .25rem;
}

/* works page */

.works-row {
  margin-bottom: 2rem;
}

.works-col {
  margin: auto;
}

.works-thumbnail {
  width: 100%;
  height: auto;
} 

.works-thumbnail:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* work detail page */

.videoDetails-container {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  border: 1px
}

.videoDetails-main {
  align-self: center;
  margin-bottom: 2rem;
}

@media (max-width: 1024px) {
  .videoDetails-main {
    max-width: 100%;
    height: auto;
  }
  .videoDetails-container {
    max-width: 100vw;

  }
}

.videoDetails-info {
  border: 1px solid blue;
}

.videoDetails-BTS {
  border: 1px solid red;
  max-width: 100%;
}

.videoDetails-stills {
  border: 1px solid yellow;
}
