* {
  font-family: 'Signika', sans-serif;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #8f6894;
}

a:active {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

/* header */

.header {
  min-height: 8rem;
  display: flex;
  align-items: center;
}

.logo {
  max-width: 4rem;
  height: auto;
  display: block;
}

.nav {
  display: flex;
  margin-left: auto;
}

.nav a {
  margin: 10px;
  text-decoration: none;
}

/* footer */

.footer {
  min-height: 4rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  margin: 10px;
}

.copyright {
  margin-top: 25px;
  color: #8f8f8f;
  font-weight: 300;
}

/* home page */

.Home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.sloganText {
  text-align: justify;
  font-weight: 300;
  /* line-height: 150%; */
  font-size: 4rem;
  margin: auto;
  width: 75%;
  margin-top: 10vh;
  margin-bottom: 35vh;
}

.vidGallery {
  margin: auto;
}

.vidRow {
  margin-bottom: 15px;
}

.vidColLeft {
  width: 35vw;
  margin-right: 10px;
}

.vidColRight {
  width: 35vw;
  margin-left: 10px;
}

/* about page */

.crew {
  display: flex;
  border: 1px solid red;
}

.crew-pic {
  max-width: 55vw;
  height: fit-content;
}

.crew .description {
  margin: 20px;
  font-size: 1.2rem;
}

.profile-card {
  border: 1px solid black;
}

.profile-card img {
  width: 15rem;
}

/* works page */

.works {
  width: 80vw;
}

.videos-list {
  display: flex;
}

.video-thumbnail {
  width: 100px;
  height: auto;
}